﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<p> name:<input type ="text"  name="name" value=" " /></p>
<p>account:<input type ="text"  name="name"value=" "/></p>
<p> pass:<input type ="password"  name="name"value=" "/></p>
<p>aaa:
    <input type="radio" name="gender" value="A"/> Male
    <input type="radio" name="gender" value="B"/> Female
    </p>
<p>
    hobby
    <input type="checkbox" name="h-1" value="A" /> swimming
    <input type="checkbox" name="h-1" value="B" /> reading
</p>

<p>about me:<textarea></textarea></p>