﻿<p>Html Helper  </p>
<p> name: @Html.TextBox("username")</p>
<p>account: @Html.TextBox("account")</p>
<p>pass: @Html.Password("pwd")</p>
<p>
    gender
    @Html.RadioButton("gender", "A")male
    @Html.RadioButton("gender", "B")female
</p>

<p>
    hobby:
    @Html.CheckBox("hobby-1", "A")swimming
    @Html.CheckBox("hobby-2", "B")reading

</p>
<p> about me :@Html.TextArea("aboutme")</p>
