﻿@model WebApplication4.viewmodel.BMIData 

<h2>BMI計算</h2>
<form actions="/BMI/Index" method="get">
    身高 @Html.TextBoxFor(m => m.Height) 公分 @ViewBag.HeightError <br />
    體重 @Html.TextBoxFor(m => m.Weight)  公斤  @ViewBag.WeightError<br />

   <p><input type="submit"value="送出"> </p>
</form>
<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>